.env
.venv/
__pycache__/
*.pyc
*.temp
*.npmrc
/scraper/.venv/
/scraper/last_hash.txt
/supabase/.temp/
/supabase/functions/*.npmrc
/supabase/config.toml
/supabase/deno.json
node_modules/
/supabase/.temp/
**/supabase/functions/**/.npmrc
